@section stylesheets{
    <link href="~/CSS/index.css" rel="stylesheet" />
}
<div class="container">
    <h1>Welcome!</h1>
</div>
<div class="container">
    <a href="#"></a>

    <p>~This is my online alais webpage and below this is my Plug.DJ character!~</p>
    <br />
    <i class="sprite sprite-plugdj-character"></i>
</div>
