@section stylesheets{
    <link href="~/CSS/index.css" rel="stylesheet" />
}

<div class="container">
    <a href="#"></a>
    <h1>Welcome!</h1>

    <i class="sprite sprite-plugdj-character"></i>
    <i class="sprite sprite-plugdj-character-grey"></i>
</div>
