@section stylesheets{
    <link href="~/CSS/index.css" rel="stylesheet" />
}
<div class="container">
    <h1>Welcome!</h1>
</div>
<div class="container">
    <a href="#"></a>
    <p>
        ~This is my online alias webpage, and my name is TheWetell~
        <br />
        Below this text is a picture of my <a class="highlight" href="@("https://plug.dj/@/thewetell")">plug.dj</a> character! ^^ 
    </p>

    <br />

    <i class="sprite sprite-plugdj-character"></i>
</div>

<div class="splitter"></div>

<div class="container">
    <h1>Who am I?</h1>
</div>

<div class="container">
    <p>
        Yeah, <strong class="highlight">who am I?</strong> That is a tricky question. Why you might ask?
    </p>

    <div class="text-spacer"></div>
    
    <p>
        Well, I´m best described as a kind, calm and secure person, according to some "real" adults.
        My friends don´t have the same opinion about me. They would describe me as, overly happy, part-time impulsive and a bit crazy. &#128516;
        <br />
        So yeah, you have to make your own opinion on me. ^~^
    </p>

    <div class="container">
        <h2>My interests</h2>
    </div>

    <div class="container">
        <p>
            I have a couple of interests, some geekier than other and some "cool" ones (according to me)! &#128526;

            <table>
                <tbody>
                    <tr>
                        <td>Intrest:</td>
                        <td>Rating:</td>
                    </tr>
                    <tr>
                        <td><a class="highlight" href="https://github.com/felixwetell">Writing code</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a class="highlight" href="https://facebook.com/wetellracing">Racing roadracing &#128566;</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a class="highlight" href="https://www.youtube.com/user/MotoGP">Whatching MotoGP</a></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </p>
    </div>
</div>