<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TheWetell</title>

    <link href="~/CSS/main.css" rel="stylesheet" />
</head>

<body>
    <div class="sidebar">
        <div class="sidebar-item">
            <h2><a>Home</a></h2>
            <h2><a>Who am I?</a></h2>
            <h2><a>Contact me!</a></h2>
            <h2><a>Social Media</a></h2>
        </div>
    </div>

    <div class="main">
        <div class="container">
            @RenderBody()
        </div>

        <div class="footer">
            <div class="footer-content">
                <p>
                    |
                    <a href="@("https://plug.dj/@/thewetell")">Plug DJ</a>
                    |
                    <a href="https://plug.dj/radiant">Plug DJ - Radiant Music</a>
                    |
                    <a href="https://open.spotify.com/user/thewetell">Spotify</a>
                    |
                    <br />
                    |
                    <a href="http://steamcommunity.com/id/TheWetell/">Steam</a>
                    |
                    <a href="http://battlelog.battlefield.com/bf4/user/TheWetells/">Battlelog - Battlefield 4</a>
                    |
                    <a href="http://battlelog.battlefield.com/bf3/user/TheWetells/">Battlelog - Battlefield 3</a>
                    |
                </p>
            </div>
        </div>
    </div>
</body>
</html>