/* Start for general CSS*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    text-decoration-color: #E0E0E0;
    transition-duration: 0.2s;
    cursor: default;
}

a:-webkit-any-link {
    color: #E0E0E0;
    text-decoration: none;
}

a:hover {
    color: #BDBDBD;
    cursor: pointer;
}

body {
    background-color: #424242;
    width: 100vw;
    height: auto;
    overflow: auto;
}

.main {
    width: 85vw;
    height: 100vh;
    float: left;
    position: relative;
}

.container {
    width: calc(70vw - 40px);
    padding: 20px;
    margin: 0 auto;
}

    .container h1 {
        color: #E0E0E0;
        font-size: 4em;
        text-align: center;
    }

.splitter {
    width: 60vw;
    height: 1px;
    margin: 0 auto 10px;
    background-color: #BDBDBD;
}

.footer {
    bottom: 0;
    margin: 0 auto;
}

.footer-content {
    text-align: center;
}

    .footer-content p {
        color: #9b59b6;
    }

/* End for general CSS */

/* Start for responsive CSS */

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    ul.hamburger-menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #9b59b6;
    }

        ul.hamburger-menu li {
            float: left;
        }

            ul.hamburger-menu li a {
                display: inline-block;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                transition: 0.3s;
                font-size: 17px;
                text-align: center;
            }

                ul.hamburger-menu li a:hover {
                    background-color: #9b59b6;
                }

            ul.hamburger-menu li.icon {
                display: none;
                background-color: #9b59b6;
            }

        ul.hamburger-menu img {
            width: 17px;
            height: auto;
        }

        ul.hamburger-menu li:not(:first-child) {
            display: none;
        }

        ul.hamburger-menu li.icon {
            float: right;
            display: inline-block;
        }

        ul.hamburger-menu.responsive {
            position: relative;
            z-index: 1;
        }

            ul.hamburger-menu.responsive li.icon {
                position: absolute;
                right: 0;
                top: 0;
            }

            ul.hamburger-menu.responsive li {
                float: none;
                display: inline;
            }

                ul.hamburger-menu.responsive li a {
                    display: block;
                    text-align: left;
                }

    #hamburger-logo:hover {
        background-color: #9C27B0 !important;
    }
}

@media(min-width: 768px) {
    .hamburger-menu {
        display: none;
    }

    .sidebar {
        width: 15vw;
        min-height: 100vh;
        float: left;
        background-color: #9b59b6;
        display: block;
        position: relative;
    }

    .sidebar-item {
        width: auto;
        height: auto;
        text-align: center;
    }

        .sidebar-item h2 {
            margin: 20px auto;
        }

        .sidebar-item a {
            color: #000;
        }

            .sidebar-item a:hover {
                color: #E0E0E0;
            }
}

/* End of responsive CSS */
